@import './reset.css';
@import './base.css';

.title-h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  /* color: var(--color-light); */
  color: var(--color-dark);
}

.title-h2 {
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  color: var(--color-dark);
}

.hidden {
  overflow: hidden;
}
